/*slide show*/


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }

  
  /* content*/

body{margin-top:20px;
  background:#eee;
  }
  .single_advisor_profile {
      position: relative;
      margin-bottom: 50px;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      z-index: 1;
      border-radius: 15px;
      -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
      box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
  }
  .single_advisor_profile .advisor_thumb {
      position: relative;
      z-index: 1;
      border-radius: 15px 15px 0 0;
      overflow: hidden;
  }

  @media only screen and (max-width: 575px) {
      .single_advisor_profile .advisor_thumb::after {
          height: 160px;
          bottom: -90px;
      }
  }
  .single_advisor_profile .advisor_thumb .social-info {
      position: absolute;
      z-index: 1;
      width: 100%;
      bottom: 0;
      right: 30px;
      text-align: right;
  }
  .single_advisor_profile .advisor_thumb .social-info a {
      font-size: 14px;
      color: #020710;
      padding: 0 5px;
  }
  .single_advisor_profile .advisor_thumb .social-info a:hover,
  .single_advisor_profile .advisor_thumb .social-info a:focus {
      color: #3f43fd;
  }
  .single_advisor_profile .advisor_thumb .social-info a:last-child {
      padding-right: 0;
  }
  .single_advisor_profile .single_advisor_details_info {
      position: relative;
      z-index: 1;
      padding: 30px;
      text-align: right;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      border-radius: 0 0 15px 15px;
      background-color: #ffffff;
  }
  .single_advisor_profile .single_advisor_details_info::after {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      position: absolute;
      z-index: 1;
      width: 50px;
      height: 3px;
      background-color: #3f43fd;
      content: "";
      top: 12px;
      right: 30px;
  }
  .single_advisor_profile .single_advisor_details_info h5 {
      margin-bottom: 0.25rem;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single_advisor_profile .single_advisor_details_info h5 {
          font-size: 14px;
      }
  }
  .single_advisor_profile .single_advisor_details_info p {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      margin-bottom: 0;
      font-size: 14px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single_advisor_profile .single_advisor_details_info p {
          font-size: 12px;
      }
  }
  .single_advisor_profile:hover .advisor_thumb::after,
  .single_advisor_profile:focus .advisor_thumb::after {
      background-color: #070a57;
  }
  .single_advisor_profile:hover .advisor_thumb .social-info a,
  .single_advisor_profile:focus .advisor_thumb .social-info a {
      color: #ffffff;
  }
  .single_advisor_profile:hover .advisor_thumb .social-info a:hover,
  .single_advisor_profile:hover .advisor_thumb .social-info a:focus,
  .single_advisor_profile:focus .advisor_thumb .social-info a:hover,
  .single_advisor_profile:focus .advisor_thumb .social-info a:focus {
      color: #ffffff;
  }
  .single_advisor_profile:hover .single_advisor_details_info,
  .single_advisor_profile:focus .single_advisor_details_info {
      background-color: #a9a9a9;
  }
  .single_advisor_profile:hover .single_advisor_details_info::after,
  .single_advisor_profile:focus .single_advisor_details_info::after {
      background-color: #ffffff;
  }
  .single_advisor_profile:hover .single_advisor_details_info h5,
  .single_advisor_profile:focus .single_advisor_details_info h5 {
      color: #ffffff;
  }
  .single_advisor_profile:hover .single_advisor_details_info p,
  .single_advisor_profile:focus .single_advisor_details_info p {
      color: #ffffff;
  }


  