
<!--==================================
=            User Profile            =
===================================-->


<div class="wrapper">
	

	<div class="main">
		

		<main class="content">
			<div class="container-fluid p-0">

				<div class="mb-3">
					<h1 class="h3 d-inline align-middle">Profile</h1>
				</div>
				<div class="row">
					<div class="col-md-4 col-xl-3">
						<div class="card mb-3">
							<div class="card-header">
								<h5 class="card-title mb-0">Profile Details</h5>
							</div>
							<div class="card-body text-center">
								<img [src]="imageURL" alt="Christina Mason" class="img-fluid rounded-circle mb-2" width="128" ngheight="128" />
								<h5 class="card-title mb-0"> {{name}} </h5>
								<div class="text-muted mb-2"> {{lastname}} </div>

								<div>
									
									<a class="btn btn-primary btn-sm" (click)="onEdit()"><span data-feather="message-square"></span> Modifier Profile</a>
								</div>
							</div>
							<hr class="my-0" />
							<div class="card-body">
								<h5 class="h6 card-title">Skills</h5>
								<a href="#" class="badge bg-primary me-1 my-1">HTML</a>
								<a href="#" class="badge bg-primary me-1 my-1">JavaScript</a>
								<a href="#" class="badge bg-primary me-1 my-1">Sass</a>
								<a href="#" class="badge bg-primary me-1 my-1">Angular</a>
								<a href="#" class="badge bg-primary me-1 my-1">Vue</a>
								<a href="#" class="badge bg-primary me-1 my-1">React</a>
								<a href="#" class="badge bg-primary me-1 my-1">Redux</a>
								<a href="#" class="badge bg-primary me-1 my-1">UI</a>
								<a href="#" class="badge bg-primary me-1 my-1">UX</a>
							</div>
							<hr class="my-0" />
							<div class="card-body">
								<h5 class="h6 card-title">About</h5>
								<ul class="list-unstyled mb-0">
									<li class="mb-1"><span data-feather="home" class="feather-sm me-1"></span> Lives in <a href="#">San Francisco, SA</a></li>

									<li class="mb-1"><span data-feather="briefcase" class="feather-sm me-1"></span> Works at <a href="#">GitHub</a></li>
									<li class="mb-1"><span data-feather="map-pin" class="feather-sm me-1"></span> From <a href="#">Boston</a></li>
								</ul>
							</div>
							<hr class="my-0" />
							<div class="card-body">
								<h5 class="h6 card-title">Elsewhere</h5>
								<ul class="list-unstyled mb-0">
									<li class="mb-1"><a href="#">staciehall.co</a></li>
									<li class="mb-1"><a href="#">Twitter</a></li>
									<li class="mb-1"><a href="#">Facebook</a></li>
									<li class="mb-1"><a href="#">Instagram</a></li>
									<li class="mb-1"><a href="#">LinkedIn</a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-md-8 col-xl-9">
						<div class="card">
							<div class="card-header">

								<h5 class="card-title mb-0">Activities</h5>
							</div>
							<div class="card-body h-100">



								<div class="container" >
									<h5 class="form-switch  row justify-content-left">
										<span> service demandés </span>
										<input class="form-check-input" type="checkbox" (click)="hidden()" name="hidden1"  id="hidden1" value="ok" >

										
									</h5>
									<div [hidden]="hideDem">
									<div class="row justify-content-center">
									  <div class="col-12 col-sm-6 col-lg-4">
										<!-- Section Heading-->
										<div class="section_heading text-center  " >
										  <h3>Les Service Demandés   </h3>
										<br>
													
										  <div class="line"></div>
										</div>
									  </div>
									  
									</div>
									<div class="row">
									  <!-- Single Advisor-->
									  <div class="col-12 col-sm-6 col-lg-4" *ngFor="let l of listServiceDem; index as i">
										<div class="single_advisor_profile  " >
									
										  <!-- Team Details-->
										  <div class="single_advisor_details_info">
											<h4>{{l.titre}}</h4>
											<h6>{{l.description}}</h6>
											<h5 >{{l.prix}} Tokens</h5>
											<button class="btn btn-warning btn-circle" title="modifier" [routerLink]="['../edit-service-demande/',l.id]">   <i class="fa   fa-pencil"></i></button>
											<button class="btn btn-success btn-circle" title="consulter"><i class="fa fa-eye"></i></button>

											<button title="supprimer" class="btn btn-danger" (click)="deleteServiceDemande(l.id)" >
												<i class="fa fa-trash"></i></button>
										  </div>
										</div>
									  </div>
									  
									</div>
									</div>
									<div [hidden]="hideOff">
									<div class="row justify-content-center" >
										<div class="col-12 col-sm-6 col-lg-4">
										  <!-- Section Heading-->
										  <div class="section_heading text-center  " >
											<h3>Les Service Offert </h3>
										  <br>
											<div class="line"></div>
										  </div>
										</div>
									  </div>
									<div class="row" >
										<!-- Single Advisor-->
										<div class="col-12 col-sm-6 col-lg-4" *ngFor="let l of listServiceOffert; index as i">
										  <div class="single_advisor_profile  " >
											<!-- Team Thumb-->
											<div class="advisor_thumb"><img [src]="" width="400px" height="300px" alt="">
											  <!-- Social Info-->
											</div>
											<!-- Team Details-->
											<div class="single_advisor_details_info">
											  <h4>{{l.titre}}</h4>
											  <h6>{{l.description}}</h6>

											  <h5 >{{l.prix}} Tokens</h5>
											  <button class="btn btn-warning btn-circle" title="modifier" [routerLink]="['../edit-service-offert/', l.id]">   <i class="fa   fa-pencil"></i></button>
											  <button class="btn btn-success btn-circle" title="consulter"><i class="fa fa-eye"></i></button>
  
											  <button title="supprimer" class="btn btn-danger" (click)="deleteServiceOffert(l.id)">
												  <i class="fa fa-trash"></i></button>
											</div>
										  </div>
										</div>
									</div>
									  </div>
								  </div>

								</div>
						</div>
					</div>
				</div>

			</div>
		</main>











	<!--<div class="alert alert-danger "   data-delay="100" aria-atomic="true" aria-live="assertive" style="position:fixed; top: 5rem; right: 3rem; min-width:400PX; " >
		<button type="button" class="ml-2 mb-1 close" data-dismiss="alert" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>

		<h4 class="alert-heading"  >Error!</h4>
		<h6></h6>
   
	  </div>
-->