.card {
    border: none;
    width: 500px;
    padding: 30px;
    position: relative;
    margin-top: 6%;
    margin-left: 35%;
    background: rgb(215, 238, 255);
}


@media screen and (max-width:600px) {
    .card
    {
        padding: 140px 30px;
    }
}