<div class="container-fluid h-100 body">
    <div class="row justify-content-center h-100">
        <div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
            <div class="card-header">
                <div class="input-group">
                    <input type="text" placeholder="Search..." name="" class="form-control search">
                    <div class="input-group-prepend">
                        <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="card-body contacts_body" >
                <div class="contacts">
                    
                <li class="active" *ngFor="let c of rc" >
                    <div class="d-flex bd-highlight"(click)="contacter(c.id)">
                        <div class="img_cont">
                            <img [src]="c.image" class="rounded-circle user_img">
                            <span class="online_icon"></span>
                        </div>
                        <a  class="user_info" >
                            <span>{{c.nom}} {{c.prenom}}</span>
                            <p>contacter moi</p>
                        </a>
                    </div>
                </li>




            </div>
            </div>
            <div class="card-footer"></div>
        </div></div>
        
        <div class="col-md-8 col-xl-6 chat" >
            <div class="card">
                <button class="btn btn-primary" routerLink="/contrat" >contrat</button>

                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img [src]="u.image" class="rounded-circle user_img"  *ngIf="isAvailable">
                        </div>
                        <div class="user_info" *ngIf="isAvailable">
                            <span>Chat with {{u.nom}}</span>
                        </div>

                    </div>

                </div>
                <div class="card-body msg_card_body"   *ngIf="isAvailable">
                    <div class="d-flex justify-content-start mb-4"*ngFor="let m of messages">
                        <div class="img_cont_msg">
                            <img [src]="m.sender.image" class="rounded-circle user_img_msg">
                        </div>

                        <div class="msg_cotainer">
                           {{m.sender.nom}} :{{m.message}}
                        </div>

                    <!-- <div class="d-flex justify-content-end mb-4">
                        <div class="msg_cotainer_send"  *ngIf="m.sender!=u._id">
                          {{m.message}}
                            <span class="msg_time_send">9:10 AM, Today</span>
                        </div>
                        <div class="img_cont_msg">
                        <img [src]="" class="rounded-circle user_img_msg">
                        </div>
                    </div> -->
                  </div>

                </div>
                <div class="card-footer"  *ngIf="isAvailable">
                    <div class="input-group">

                          <div class="col">
                          <div class="form-group">
                        <textarea name="message" [(ngModel)]="val" class="form-control type_msg" placeholder="Type your message..."></textarea>
                        <button  (click)="envoyer(u.id)"  class="button-63">envoyer</button>
                          </div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>