<br> 
<br> 


<h1 style="color: #2399FF; font-size: 70px; font-weight: bolder; margin-left: 693px; padding-top: 12px;" >Nos Packs</h1>

<br> 
<div class="row">
  
  <div class="col-md-4 col-sm-6">
      <div class="pricing-table-3 basic">
          <div class="pricing-table-header">
              <h1 style="font-size: 33px; color: white;"><strong>STARTER</strong></h1>
          </div>
          <div class="price"><strong>90 Connects </strong>
            <img src="../../../assets/images/coins11.png"  style="width: 40px;"class="img-fluid" alt="">
          </div>
          
          <div class="pricing-body">
            
              <ul class="pricing-table-ul">
                <li style="font-size: 15px;"><i class="bi bi-check" style="color: green;"></i> Vidéo-conférences</li>
                <li style="font-size: 15px;"><i class="bi bi-check" style="color: green;"></i> Support clients</li>
                <li style="font-size: 15px;"><i class="bi bi-check" style="color: green;"></i> Consulter personnes en ligne</li>
                <li style="font-size: 15px;" class="not-avail" class="na"><i class="bi bi-x" style="color: red;"></i> Prposition des mentors</li>
                <li style="font-size: 15px;" class="not-avail" class="na"><i class="bi bi-x" style="color: red;"></i>Pas de publicité</li>
                <li style="font-size: 15px;" class="not-avail" class="na"><i class="bi bi-x" style="color: red;"></i>Crédit connects</li>
              </ul>
              <a href="#" class="view-more"><strong>10<sup>dt</sup></strong></a>
            </div>
      </div>
  </div>
  <div class="col-md-4 col-sm-6">
      <div class="pricing-table-3 premium">
        <div class="pricing-table-header">
          <h1 style="font-size: 33px; color: white;"><strong>PRO</strong></h1>
        </div>
      <div class="price"><strong>220 Connects </strong>
        <img src="../../../assets/images/coins22.png"  style="width: 65px;" class="img-fluid" alt="">
      </div>
      
      <div class="pricing-body">
        
          <ul class="pricing-table-ul">
            <li style="font-size: 15px;"><i class="bi bi-check" style="color: green;"></i> Vidéo-conférences</li>
            <li style="font-size: 15px;"><i class="bi bi-check" style="color: green;"></i> Support clients</li>
            <li style="font-size: 15px;"><i class="bi bi-check" style="color: green;"></i> Consulter personnes en ligne</li>
            <li style="font-size: 15px;"><i class="bi bi-check" style="color: green;"></i> Prposition des mentors</li>
            <li style="font-size: 15px;" class="not-avail" class="na"><i class="bi bi-x" style="color: red;"></i>Pas de publicité</li>
            <li style="font-size: 15px;" class="not-avail" class="na"><i class="bi bi-x" style="color: red;"></i>Crédit connects</li>
          </ul>
          <a href="#" class="view-more"><strong>20<sup>dt</sup></strong></a>
        </div>
  </div>
</div>

  <div class="col-md-4 col-sm-6">
      <div class="pricing-table-3 business">
        <div class="pricing-table-header">
          <h1 style="font-size: 33px; color: white;"><strong>VIP</strong></h1>
        </div>
      <div class="price"><strong>600 Connects </strong>
        <img src="../../../assets/images/coins33.png"  style="width:80px;"class="img-fluid" alt="">
      </div>
      
      <div class="pricing-body">
        
          <ul class="pricing-table-ul">
            <li style="font-size: 15px;"><i class="bi bi-check" style="color: green;"></i> Vidéo-conférences</li>
            <li style="font-size: 15px;"><i class="bi bi-check" style="color: green;"></i> Support clients</li>
            <li style="font-size: 15px;"><i class="bi bi-check" style="color: green;"></i> Consulter personnes en ligne</li>
            <li style="font-size: 15px;"><i class="bi bi-check" style="color: green;"></i> Prposition des mentors</li>
            <li style="font-size: 15px;"><i class="bi bi-check" style="color: green;"></i>Pas de publicité</li>
            <li style="font-size: 15px;"><i class="bi bi-check" style="color: green;"></i>Crédit connects</li>
          </ul>
          <a href="#" class="view-more"><strong>50<sup>dt</sup></strong></a>
        </div>
  </div>
</div>
