
.card {
    border: none;
    width: 500px;
    padding: 30px;
    position: relative;
    margin-top: 15%;
    margin-bottom: 3%;
    margin-left: 60%;
    background: rgb(215, 238, 255);
}



@media screen and (max-width:600px) {
    .card
    {
        padding: 140px 30px;
    }
}