
<section class="ad-post bg-gray py-5">
    <div class="container">
        <form  >
            <!-- Post Your ad start -->
            <fieldset class="border border-gary p-4 mb-5">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Modifier une Service Demandé</h3>
                        </div>
                        <div class="col-lg-6">
                            <h6 class="font-weight-bold pt-4 pb-1">nom du Service</h6>
                            <input type="text" class="border w-100 p-2 bg-white text-capitalize"   name="title" #title  >
                  
                            <div class="price">
                                <h6 class="font-weight-bold pt-4 pb-1">Prix ​​du Service (Tokens):</h6>
                                <div class="row px-3">
                                    <div class="col-lg-4 mr-lg-4 rounded bg-white my-2 ">
                                        <input type="number"  class="border-0 py-2 w-100 price" name="price" #price
                                            id="price" >
                                    </div>
                               
                                </div>
                            </div>
                  

                        </div>
                       
                        <div class="col-lg-6">
                            <h6 class="font-weight-bold pt-4 pb-1">Select Category:</h6>
                            <select  name="categorie" #categorie id="inputGroupSelect" class="w-100">

                                    <option    >name</option>

                            
                         
                                </select>
                           
                               
                              <h6 class="font-weight-bold pt-4 pb-1">Description:</h6>
                              <textarea description="title" class="border p-3 w-100" rows="7" name="description" #description > </textarea>
                           
                              <button class="btn btn-primary" >Modifier</button>

                         
                        </div>
                    </div>
            </fieldset>
            </form>
            </div>
         
<!--
              <div class="alert alert-danger "   data-delay="100" aria-atomic="true" aria-live="assertive" style="position:fixed; top: 5rem; right: 3rem; min-width:400PX; " >
                <button type="button" class="ml-2 mb-1 close" data-dismiss="alert" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>

                <h4 class="alert-heading"  >Error!</h4>
                <h6>echec</h6>
           
              </div>
              -->

       
</section>